.u-section-1 {
  background-image: linear-gradient(#478ac9, #72efe9);
}

.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-image-1 {
  height: 619px;
  animation-duration: 1000ms;
  box-shadow: 6px 5px 7px 0px rgba(128,128,128,0.65);
  margin: 52px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 679px;
  min-height: 439px;
  margin: -529px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 35px;
  padding-right: 32px;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 64px 86px 0 31px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 34px 123px 0 68px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 548px;
    object-position: 28.82% 50%;
    background-position: 28.82% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 560px;
    margin-top: -512px;
    margin-right: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 26px;
  }

  .u-section-1 .u-text-1 {
    font-family: "Exo 2";
    width: auto;
    margin-top: 83px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    font-family: Exo;
    width: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 451px;
    object-position: 9.97% 50%;
    background-position: 9.97% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 406px;
    min-height: 336px;
    margin-top: -394px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-image-1 {
    height: 343px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 273px;
    min-height: 316px;
    margin-top: -330px;
    margin-right: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 19px;
    margin-right: 74px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 399px;
    margin-top: -34px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 14px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
  }
}.u-section-2 {
  background-image: linear-gradient(#72efe9, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 1448px;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 669px;
  height: 385px;
  margin: -101px 39px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 534px;
  min-height: 689px;
  background-image: none;
  margin: -61px auto 0 20px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Exo 2";
  margin: 53px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Exo;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-2 .u-image-2 {
  width: 534px;
  height: 534px;
  filter: brightness(0);
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-2 {
  width: 534px;
  min-height: 567px;
  background-image: none;
  height: auto;
  margin: -645px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Exo 2";
  margin: 53px 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Exo;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-2 .u-image-3 {
  width: 273px;
  height: 514px;
  margin: -1081px 153px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 538px;
    height: 317px;
    margin-top: -132px;
    margin-right: 46px;
  }

  .u-section-2 .u-group-1 {
    width: 440px;
    margin-left: 16px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-image-2 {
    width: 223px;
    height: 223px;
    margin-left: 234px;
  }

  .u-section-2 .u-group-2 {
    width: 440px;
    margin-top: 222px;
    margin-left: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 475px;
    height: 308px;
    margin-top: -180px;
    margin-right: 20px;
  }

  .u-section-2 .u-group-1 {
    width: 386px;
    min-height: 678px;
    margin-top: -75px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-2 {
    width: 194px;
    height: 187px;
    margin-top: 32px;
    margin-left: 190px;
  }

  .u-section-2 .u-group-2 {
    width: 386px;
    margin-top: 186px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-2 .u-image-1 {
    width: 369px;
    height: 327px;
    object-position: 0% 100%;
    background-position: 0% 100%;
    margin-top: -114px;
    margin-right: 63px;
  }

  .u-section-2 .u-group-1 {
    width: 392px;
    margin-top: -54px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-2 {
    width: 197px;
    height: 198px;
    margin-top: -1px;
    margin-left: 65px;
  }

  .u-section-2 .u-group-2 {
    width: 392px;
    margin-top: 1506px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-image-1 {
    width: 293px;
    height: 207px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    margin-top: -110px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 838px;
    width: 298px;
    margin-top: -15px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-2 {
    width: 188px;
    height: 191px;
    margin-top: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 298px;
    margin-top: 1572px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 12px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-3 {
    margin-right: 67px;
  }
}.u-section-3 {
  background-image: linear-gradient(black, #72efe9);
}

.u-section-3 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-3 .u-image-1 {
  width: 619px;
  height: 304px;
  margin: 171px auto 0 43px;
}

.u-section-3 .u-image-2 {
  width: 376px;
  height: 373px;
  margin: -396px 69px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 619px;
  height: 301px;
  margin: 31px auto 0 253px;
}

.u-section-3 .u-image-4 {
  width: 615px;
  height: 313px;
  margin: 8px 43px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 360px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 30px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -23px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-3 {
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 265px;
    margin-top: 1724px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 263px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 275px;
    margin-top: 55px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 167px;
    margin-top: 1613px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 337px;
    margin-top: -67px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 166px;
    margin-top: 102px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 173px;
  }
}.u-section-4 {
  background-image: linear-gradient(#72efe9, #478ac9);
}

.u-section-4 .u-sheet-1 {
  min-height: 821px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 991px;
  margin: 178px 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 553px;
}

.u-section-4 .u-image-1 {
  width: 546px;
  height: 551px;
  margin: 0 auto 0 -125px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 553px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 1.875rem;
  font-family: "Exo 2";
  font-weight: 700;
  margin: 162px auto 0 -47px;
  padding: 23px 70px 24px 68px;
}

.u-section-4 .u-group-1 {
  width: 534px;
  min-height: 277px;
  background-image: none;
  height: auto;
  margin: -731px 36px 128px auto;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Exo 2";
  margin: 53px 0 0;
}

.u-section-4 .u-text-2 {
  font-family: Exo;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 862px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-4 .u-image-1 {
    width: 450px;
    margin-top: 911px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 1148px;
    margin-left: 127px;
  }

  .u-section-4 .u-group-1 {
    width: 440px;
    min-height: 689px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1491px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 673px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 958px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 1209px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 386px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2359px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 538px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-4 .u-image-1 {
    width: 416px;
    margin-top: 2246px;
    margin-right: auto;
    margin-left: -125px;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 2651px;
  }

  .u-section-4 .u-group-1 {
    width: 392px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1685px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 309px;
  }

  .u-section-4 .u-image-1 {
    height: 343px;
    margin-top: 2498px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 2858px;
  }

  .u-section-4 .u-group-1 {
    width: 298px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 12px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}